# USER DETAILS
USER_ID=""
APP_ID=""
AMAZON_PLATFORM_ID=""
FLIPKART_PLATFORM_ID=""

# REDIS
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=mysecretpassword

# SUPABASE
SUPABASE_URL=""
SUPABASE_KEY=""

# SCREENSHOT SERVICE
SCREENSHOT_SERVICE_URL="http://screenshot-service:3000/v1/screenshot"